<div>
  <h1>My Frist Angular Project...</h1>
</div>
<div>
  <button style="background-color: blue;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;">Click me</button>
<hr>
</div>
<div>
  <button class="butnclass">Click me1</button>
  <button class="butnclass">Click me2</button>
  <button class="butnclass">Click me3</button>
</div>
<hr>
<div>
  <button class="btn btn-primary">Click me1</button>
  <button class="btn btn-warning">Click me2</button>
  <button class="btn btn-success">Click me3</button>
</div>
<hr>
<div>
     <div class="row">
       <div class="col-sm-3"></div>
       <div class="col-sm-3">Enter Your Name:</div>
       <div class="col-sm-3"><input class="form-control" placeholder="Enter Your name" type="text"/></div>
       <div class="col-sm-3"></div>
     </div>
</div>
<hr>
<div>
  <button class="btn btn-primary">Click me1</button>
  <button class="btn btn-warning">Click me2</button>
  <button class="btn btn-success">Click me3</button>
</div>